<%= form_for(@article) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>

    <p>
      <% if @article.published? %>
          <span class="label label-primary">Published</span>
      <% elsif @article.created_at.nil? %>
          <span class="label label-default"></span>
      <% elsif @article.deleted %>
          <span class="label label-default">Trash</span>
      <% else %>
          <span class="label label-warning">Draft</span>
      <% end %>
    </p>

    <%= f.label :content %>
    <%= f.text_area :content, class: 'form-control',:rows => "10" %>

    <% if @article.published? %>
        <%= f.submit "Publish", class: "btn btn-primary" %>
        <%= f.submit "Revert to Draft", class: "btn btn-default" %>
        <%= f.submit "Move to Trash", class: "btn btn-default" %>
    <% else %>
        <%= f.submit "Publish", class: "btn btn-primary" %>
        <%= f.submit "Save as Draft", class: "btn btn-default" %>
        <%= f.submit "Move to Trash", class: "btn btn-default" %>
    <% end %>
<% end %>
<br>


