<% provide(:title, @article.title) %>
<div class="row">
  <h1></h1>
</div>
<div class="row">
  <div class="col-md-8 blog-main">
    <ol class="articles">
      <%= render @article %>
    </ol>

    <p>
      <% if @article.published? %>
          <span class="label label-primary">Published</span>
      <% elsif @article.created_at.nil? %>
          <span class="label label-default"></span>
      <% elsif @article.deleted %>
          <span class="label label-default">Trash</span>
      <% else %>
          <span class="label label-warning">Draft</span>
      <% end %>
    </p>
    <%= link_to 'Back', current_user %>
  </div>

  <aside class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
      <%= gravatar_for(@user, size: 150) %>
      <h4>
        <%= @user.name %>
      </h4>
      <span><%= pluralize(current_user.articles.count, "article") %></span>
    </div>
  </aside>

</div>